# Advanced Sets

In [1]:
s = set()

s.add(1)
s.add(2)
s

{1, 2}

___________

### ___clear___

The *clear()* method removes all elements from the set.

In [6]:
s.clear()
s

set()

____________

### ___copy___

The *copy()* method returns a copy of the set. Note it is a copy, so changes to the original don't effect the copy.

In [7]:
s = {1,2,3}
sc = s.copy()
sc

{1, 2, 3}

____________    

### ___difference___

The *difference()* method returns the difference between two or more sets.

In [9]:
s.add(4)
s.difference(sc)

{4}

___________ 

### ___difference_update___

The *difference_update()* method removes all elements of another set from this set.

In [10]:
s1 = {1,2,3}

s2 = {1,4,5}

s1.difference_update(s2)

In [11]:
s1

{2, 3}

In [12]:
s

{1, 2, 3, 4}

___________

### ___discard___

The *discard()* method removes an element from a set if it is a member. (Do nothing if the element is not in set)

In [14]:
s.discard(2)
s

{1, 3, 4}

___________

### ___intersection and intersection_update___

The *intersection()* method returns the intersection of two or more sets as a new set.(i.e. elements that are common to all of the sets.)

In [15]:
s1 = {1,2,3}

s2 = {1,2,4}

s1.intersection(s2)

{1, 2}

In [16]:
s1

{1, 2, 3}

___________

### ___intersection_update___

The *intersection_update()* method updates the set calling *intersection_update()* method with the intersection of sets.

In [18]:
s1.intersection_update(s2)
s1

{1, 2}

___________

### ___isdisjoint___

The *isdisjoint()* method will return True if two sets have a null intersection.

In [19]:
s1 = {1,2}

s2 = {1,2,4}

s3 = {5}

s1.isdisjoint(s2)

False

In [20]:
s1.isdisjoint(s3)

True

___________

### ___issubset___

The *issubset()* method reports whether another set contains this set.

In [22]:
s1.issubset(s2)

True

___________

### ___issuperset___

The *issuperset()* method will report whether this set contains another set.

In [23]:
s2.issuperset(s1)

True

___________

### ___symmetric_difference___

The *symmetric_difference()* method will return all elements that are in exactly one set.

In [24]:
s1.symmetric_difference(s2)

{4}

___________

### ___symmetric_difference_update___

The *symmetric_difference_update()* method will update a set with the symmetric difference of itself and another.

In [26]:
s1.symmetric_difference_update(s2)
s1

{1, 2}

___________

### ___union___

The *union()* method returns the union of two sets (the elements that are in either set.)

In [27]:
s1.union(s2)

{1, 2, 4}

___________

### ___update___

The *update()* method updates a set with the union of itself and others.

In [28]:
s1.update(s2)
s1

{1, 2, 4}