# **Data Types**

|:------------------:|:------:|---------------------------------------------------------------------------|
| Name             | Type | Description                                                               |
| Integer          | int  | Whole numbers, such as: 1, 2, 3, 4, 5, 6, 7, 8, 9, 0                      |
| Floating point   | float| Numbers with a decimal point or exponential notation, e.g., 1.0, 2.0, 3.0 |
| Strings          | str  | Ordered sequence of characters, e.g., "Hello", "World"                    |
| Lists            | list | Ordered sequences of objects, e.g., [1, 2, 3, 4, 5]                       |
| Dictionaries     | dict | Unordered mappings for storing objects, e.g., {"key": "value"}            |
| Tuples           | tup  | Ordered immutable sequences of objects, e.g., (1, 2, 3)                   |
| Sets             | set  | Unordered collections of unique objects, e.g., {1, 2, 3}                  |
| Booleans         | bool | Logical values indicating True or False, e.g., True, False                |

## __Examples:__

### (*Integers*)

In [1]:
integer = 115
data_type = type(integer).__name__
print("The data type of 'integer' is " + data_type + " and the value is " + str(integer) + ".")

The data type of 'integer' is int and the value is 115.

### (*Floating point*)

In [2]:
decimal = .1 + .2 - .3
data_type = type(decimal).__name__
print("The data type of 'decimal' is " + data_type + " and the value is " + str(decimal) + ".")

The data type of 'decimal' is float and the value is 5.551115123125783e-17.

### (*Strings*)

In [3]:
string = "Hi! My name is Inigo Montoya. You killed my father. Prepare to die."
data_type = type(string).__name__
print("The data type of 'string' is " + data_type + " and the value is '" + str(string) + "' .")

The data type of 'string' is str and the value is 'Hi! My name is Inigo Montoya. You killed my father. Prepare to die.' .

### (*Lists*)

In [4]:
list_1 = [1, "Happy", 3, 4, 5.7]    
data_type = type(list_1).__name__
print("The data type of 'list_1' is " + data_type + " and the value is '" + str(list_1) + "' .")

The data type of 'list_1' is list and the value is '[1, 'Happy', 3, 4, 5.7]' .

### (*Dictionaries*)

In [5]:
dictionary = {"name": "Inigo Montoya", "age": 21, "country of birth": "Colombia", "favorite language": "Python"}    
data_type = type(dictionary).__name__
print("The data type of 'dictionary' is " + data_type + " and the value is '" + str(dictionary) + "' .")

The data type of 'dictionary' is dict and the value is '{'name': 'Inigo Montoya', 'age': 21, 'country of birth': 'Colombia', 'favorite language': 'Python'}' .

### (*Tuples*)

In [6]:
tuple_1 = (1, "Happy", 3, 4, 5.7)   
data_type = type(tuple_1).__name__
print("The data type of 'tuple_1' is " + data_type + " and the value is '" + str(tuple_1) + "' .")

The data type of 'tuple_1' is tuple and the value is '(1, 'Happy', 3, 4, 5.7)' .

### (*Sets*)

In [7]:
set_1 = ["a", "b", "c", "d", "e", "f", "g", "h", "i", "j"]   
data_type = type(set_1).__name__
print("The data type of 'set_1' is " + data_type + " and the value is '" + str(set_1) + "' .")

The data type of 'set_1' is list and the value is '['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']' .

### (*Booleans*)

In [9]:
bool_1 = True
data_type = type(bool_1).__name__
print("The data type of 'bool_1' is " + data_type + " and the value is '" + str(bool_1) + "' .")

The data type of 'bool_1' is bool and the value is 'True' .